.homes{
    width: 100vw;
    color: white;
    padding: var(--secPadding);
    display: flex;
    /* flex-wrap: wrap; */
    gap: 5rem;
    /* border: 1px solid black; */
}

.WD{
    display: inline-block;
    animation: wd 1s infinite linear;
    background-color: white;
    background-image: linear-gradient(30deg, red, blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headings{
    flex-basis: 45vw;
    animation: into forwards .5s 1 ease-in;
    background-color: #1e2735;
    box-shadow: 2px 2px 10px #00000080;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    border-radius: 4px;
    align-self: center;
}

.com-h1{
    font-family: Poppins-Bold;
    font-size: 40px;
    color: white;
    animation: home-h1 .5s 1 forwards linear;
}

.com-p{
    font-family: Poppins;
    color: antiquewhite;
    animation: home-p .5s 1 forwards linear;
}

.name{
    position: relative;
    animation: home-p .5s 1 forwards linear;
}

.name:after{
    content: '';
    width: 100%;
    height: 5px;
    background-color: #1e00ff;
    position: absolute;
    z-index: -1;
    top: 75%;
    left: 0;
    border-radius: 50px 50px 0px 0px;
}


.profile-pic{
    clip-path: circle(50% at 50% 50%);
}

.profile-pic img{
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    filter: contrast(1) ;
}

/* all animations */

@keyframes into {
    from{
        transform: translateY(50px);
        opacity: .1;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes home-h1 {
    from{
        transform: translateX(-200px);
        opacity: .1;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes home-p {
    from{
        transform: translateX(200px);
        opacity: .1;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes wd {
    0%{
        transform: translateY(-5px);
        text-shadow: 2px 2px 5px #00000080;
    }
    50%{
        transform: translateY(0px);
        /* text-shadow: 0px 0px 0px black; */
    }
    100%{
        transform: translateY(-5px);
        text-shadow: 2px 2px 5px #00000080;
    }
}

@media (max-width:768px) and (min-width:601px) {
    .home-heading{
        font-size: 30px;
    }
    .home-desc{
        font-size: 15px;
    }
}

@media (max-width: 600px) and (min-width:450px){
    
    .headings{
        flex-basis: 80vw;
    }
    .home-heading{
        font-size: 25px;
    }
    .home-desc{
        font-size: 15px;
    }
}

@media (max-width:450px) {
    .homes{
        padding: 10px 10px;
    }
    .headings{
        flex-basis:80vw;
        gap: 50px;
        box-sizing: content-box;
        padding: 10vh 8vh;
    }
    .com-h1{
        font-size: 20px;
    }
    .home-desc{
        font-size: 14px;
    }
}